.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
    display: grid;
    place-items: center;
    background-color: rgb(110, 84, 28);
    width: 100px;
    height: 100px;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover{
    background-color: rgb(183, 151, 34);
    cursor: pointer;
}

.field{
    display: grid;
    grid-gap: 50px;
    width: 400px;
    height: auto;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.result-container{
    display: none;
    place-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(177, 177, 177);
    overflow-y: scroll;
}

.background{
    display: grid;
    place-items: center;
    width: 500px;
    height: 500px;
    background-color: green;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

 
